.code {
    text-align: left;
    display: inline-block;
    font-size: 14px;
}

@media(max-width: 450px){
    .code {
        font-size: 11px;
        margin-left:-15px;
        display: block;
    }
}